
/*Home*/
#howrapper{
    display: grid;
    height: 100vh;
    width: 100%;
    gap: 30px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 10% 5% 70% 15%;
    grid-template-areas: 
    'hd1 hd1 hd1 hd1' 
    'nv nv nv nv'
    'homn homn homn hoas'
    'ft ft ft ft' 
}

header{
    background-image: url(Money.jpg;
}

a{  
    color: black;
}

a:hover{
    color: #f39c12;
}

nav{
    grid-area: nv;
    display: flex;
    border-style: solid;
    border-color: #f39c12;
    border-width: 5px;
    background-color: #ffff;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
}


/*Associates*/
#asswrapper{
    display: grid;
    height: 100vh;
    width: 100%;
    gap: 30px;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 10% 5% 35% 35% 15%;
    grid-template-areas: 
    'hd1 hd1 hd1 hd1' 
    'nv nv nv nv'
    'i asmn asmn u'
    'i asmn asmn u'
    'i ft ft u' 
}
.i{
    grid-area: i;
}
.u{
    grid-area: u;
}
.Associates{
    display: grid;
    gap: 15px;
    grid-area: asmn;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    'one two'
    'three four'
}

.one{
    grid-area: one;
    border-style: solid;
    border-color: #f39c12;
    border-width: 5px;
    background-color: #ffff;
    border-radius: 5px;
}

.two{
    grid-area: two;
    border-style: solid;
    border-color: #f39c12;
    border-width: 5px;
    background-color: #ffff;
    border-radius: 5px;
}

.three{
    grid-area: three;
    border-style: solid;
    border-color: #f39c12;
    border-width: 5px;
    background-color: #ffff;
    border-radius: 5px;
}

.four{
    grid-area: four;
    border-style: solid;
    border-color: #f39c12;
    border-width: 5px;
    background-color: #ffff;
    border-radius: 5px;
}

.foot{
    grid-area: ft;
    display: grid;
    gap: 15px;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'abt cnt'
}

.about{
    grid-area: abt;
    border-style: solid;
    border-color: #8b5c11;
    border-width: 5px;
    background-color: #ffff;
    border-radius: 5px;
}

.contact{
    grid-area: cnt;
    border-style: solid;
    border-color: #8b5c11;
    border-width: 5px;
    background-color: #ffff;
    border-radius: 5px;
}

/*sign in*/
#inwrapper{
    display: grid;
    height: 100vh;
    width: 100%;
    gap: 30px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 10% 5% 70% 15%;
    grid-template-areas: 
    'hd1 hd1 hd1 hd1' 
    'nv nv nv nv'
    'inmn inmn inmn inmn'
    'ft ft ft ft'

}




/*sign up*/
#upwrapper{
    display: grid;
    height: 100vh;
    width: 100%;
    gap: 30px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 10% 5% 70% 15%;
    grid-template-areas: 
    'hd1 hd1 hd1 hd1' 
    'nv nv nv nv'
    'upmn upmn upmn upmn'
    'ft ft ft ft' 
}
