Dina cssfiler i denna mapp

/*Home*/
#howrapper{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    'hd1 hd1 hd1 hd1' 
    'nv nv nv nv'
    'homn homn homn hoas'
    'ft1 ft1 ft2 ft2' 
}

/*Associates*/
#asswrapper{
    display: grid;
    height: 100vh;
    width: 100%;
    gap: 10px;
    grid-template-columns: 5% 45% 45% 15%;
    grid-template-rows: 10% 5% 35% 35% 15%;
    grid-template-areas: 
    'hd1 hd1 hd1 hd1' 
    'nv nv nv nv'
    'i asmn asmn u'
    'i asmn asmn u'
    'i ft ft u' 
}
.i{
    grid-area: i;
}
.u{
    grid-area: u;
}
.Associates{
    display: grid;
    gap: 5px;
    grid-area: asmn;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    'one two'
    'three four'
}

.one{
    grid-area: one;
    background-color: #f39c12;
    box-shadow: 10px 10px 5px #f39d125e;
    border-radius: 5px;
}

.two{
    grid-area: two;
    background-color: #f39c12;
    box-shadow: 10px 10px 5px #f39d125e;
    border-radius: 5px;
}

.three{
    grid-area: three;
    background-color: #f39c12;
    box-shadow: 10px 10px 5px #f39d125e;
    border-radius: 5px;
}

.four{
    grid-area: four;
    background-color: #f39c12;
    box-shadow: 10px 10px 5px #f39d125e;
    border-radius: 5px;
}

.foot{
    grid-area: ft;
    display: grid;
    gap: 5px;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'abt cnt'
}

.about{
    grid-area: abt;
    background-color: #25f312;
    box-shadow: 5px 5px 5px #f39d125e;
    border-radius: 5px;
}

.contact{
    grid-area: cnt;
    background-color: #12f39d;
    box-shadow: 5px 5px 5px #f39d125e;
    border-radius: 5px;
}

/*sign in*/
#inwrapper{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    'hd1 hd1 hd1 hd1' 
    'nv nv nv nv'
    'inmn inmn inmn inmn'
    'ft1 ft1 ft2 ft2' 
}




/*sign up*/
#upwrapper{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    'hd1 hd1 hd1 hd1' 
    'nv nv nv nv'
    'upmn upmn upmn upmn'
    'ft1 ft1 ft2 ft2' 
}
