Dina cssfiler i denna mapp

#wrapper{
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 10% 2rem auto 20rem auto;
    grid-template-areas: 
    'hd1 hd1 hd1 hd1' 
    'nv nv nv nv'
    'mn mn mn as'
    '. . . .'
    'ft1 ft1 ft2 ft2'
    
}