Dina cssfiler i denna mapp

/*Home*/
#howrapper{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    'hd1 hd1 hd1 hd1' 
    'nv nv nv nv'
    'homn homn homn hoas'
    'ft1 ft1 ft2 ft2' 
}

/*Associates*/
#asswrapper{
    display: grid;
    height: 100vh;
    
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas: 
    'hd1 hd1 hd1 hd1' 
    'nv nv nv nv'
    'asmn asmn asmn asmn'
    'asmn asmn asmn asmn'
    'ft1 ft1 ft2 ft2' 
}

.Associates{
    display: grid;
    grid-area: asmn;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    'one two'
    'three four'
}

.one{
    grid-area: one;
    background-color: aqua;
}

.two{
    grid-area: two;
    background-color: aqua;
}

.three{
    grid-area: three;
    background-color: aqua;
}

.four{
    grid-area: four;
    background-color: aqua;
}



/*sign in*/
#inwrapper{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    'hd1 hd1 hd1 hd1' 
    'nv nv nv nv'
    'inmn inmn inmn inmn'
    'ft1 ft1 ft2 ft2' 
}




/*sign up*/
#upwrapper{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    'hd1 hd1 hd1 hd1' 
    'nv nv nv nv'
    'upmn upmn upmn upmn'
    'ft1 ft1 ft2 ft2' 
}
